@media screen and (max-width:767px) {
      
    body {
        background-color: #92218F;
    }
    h4{
        color: white;
    }
    #disco{
        color:white;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #bio{
         color: white;
         margin-bottom: 30px;
         font-size: 60px;
    }

    .nav-link {
        color: white;
        font-size: 30px;
        }

        .europe{
            font-size: 150px;
            color: #FFD500;
        }
        img{ 
            width: 300px;
        }

        .player{
            border-radius: 30px;
            border-style: solid;
            border-width: 5px;
            border-color: white;
            margin-right: 100px;
        }
        .player_img{
            border-radius: 150px;
            width: 150px;
        }

        p{
            font-size: 25px;
            margin-right: 0px;
            color:white;
        }
        .disco {
            margin-left: 100px;
            }
    
  
        .d1 {
            display: none;
        }

        .play{
            width: 100px;
        }

        .progress{
            width: 800px;
        }

        .reseau{
            width: 100px;
        }

        figcaption{
            color: white;
        }
}

@media screen and (min-width:768px) {

    body {
        background-color: #92218F;
    }
    h4{
        color: white;
    }
    #disco{
        color:white;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #bio{
         color: white;
         margin-bottom: 30px;
         font-size: 60px;
    }

    .nav-link {
        color: white;
        font-size: 30px;
        }

        .europe{
            font-size: 150px;
            color: #FFD500;
        }
        img{ 
            width: 300px;
        }

        .player{
            border-radius: 30px;
            border-style: solid;
            border-width: 5px;
            border-color: white;
            margin-right: 100px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 0px;
        }

        .audio { grid-area: 1 / 2 / 1 / 2; }
        .type { grid-area: 1 / 3 / 1 / 3; }
        .type2 { grid-area: 1 / 5 / 1 / 5; }

        .player_img{
            border-radius: 20px;
            width: 300px;
            height: auto;
            grid-area: 1 / 1 / 1 / 1;
          
        }

        p{
            font-size: 25px;
            margin-right: 0px;
            color:white;
        }
        .disco {
            margin-left: 100px;
            }
    

        .play{
            width: 100px;
        }

        .progress{
            width: 800px;
        }

        .reseau{
            width: 100px;
        }

        figcaption{
            color: white;
        }


        footer {
            border-style: solid;
            border-width: 2px;
            border-color: white;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
        .CGU { grid-area: 2 / 1 / 2 / 3; }
        .reseaux { grid-area: 2 / 4 / 2 / 6; }

}

.btn-less{
    display: none;
}

#d1{
    display: none;
}

.b1{
    margin-bottom: 30px;
}
  
.b2{
    margin-top: 30px;
}


#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: hidden;
}
  
  .popup-content {
    background: #fff;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
}
  
  .popup-header {
    background: #333;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.popup-header h1 {
     margin: 0;
    font-size: 50px;
}
  
  .popup-header .close {
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}
  
  .popup-body {
    height: 400px;
    overflow-y: scroll;
}
  
  .scroll {
    padding: 10px;
}
.pop{
    color: black;
}